<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <!--<filter>-->
        <!--<filter-name>UTF8Filter</filter-name>-->
        <!--<filter-class> classes.UTF8Filter</filter-class>-->
    <!--</filter>-->
    <servlet>
        <servlet-name>ServletClass</servlet-name>
        <servlet-class>classes.InsertServletClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServletClass</servlet-name>
        <servlet-class>classes.SearchServletClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyServletClass</servlet-name>
        <servlet-class>classes.ModifyServletClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClass</servlet-name>
        <url-pattern>/ServletClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServletClass</servlet-name>
        <url-pattern>/SearchServletClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyServletClass</servlet-name>
        <url-pattern>/ModifyServletClass</url-pattern>
    </servlet-mapping>

    <!--<filter-mapping>-->
        <!--<filter-name>UTF8Filter</filter-name>-->
        <!--<url-pattern> /UTF8Filter</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>
  <!--</web-app>-->
