<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <!--<context-param>-->
        <!--<param-name>aaaaa</param-name>-->
        <!--<param-value>aaaa</param-value>-->
    <!--</context-param>-->
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>ServletClass</servlet-name>
        <servlet-class>presentation.InsertServletClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServletClass</servlet-name>
        <servlet-class>presentation.SearchServletClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyServletClass</servlet-name>
        <servlet-class>presentation.ModifyServletClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClass</servlet-name>
        <url-pattern>/ServletClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServletClass</servlet-name>
        <url-pattern>/SearchServletClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyServletClass</servlet-name>
        <url-pattern>/ModifyServletClass</url-pattern>
    </servlet-mapping>

</web-app>

        <!--</web-app>-->
